
<footer class="footer">
  <small>
    <a href="#">Neo's First App</a>
    by Neo Ellison
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://fixitwithcode.com/">News</a></li>
    </ul>
  </nav>
</footer>
